<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Detailed Course(TC)</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">My Course</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/cute-kitten-wallpaper-18701-wallpaperesque.jpg" class="layui-nav-img">
                    <span th:text="${userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/profileTC#profile=1">个人信息</a></dd>
                    <dd><a href="/profileTC#profile=2">统计详情</a></dd>
                    <dd><a href="/profileTC#profile=3">修改密码</a></dd>
                    <dd><a href="javascript:void(0)" onclick="cancel()">注销账号</a></dd>
                    <dd><a href="javascript:void(0)" onclick="logout()">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;">课件</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="window.location.reload()">课件上传</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href=window.location.href.replace('coursewareUpload','coursewareDownload')">课件下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">作业</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">成绩</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="window.location.href=window.location.href.replace('coursewareUpload','forumOverview')">论坛</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend><span th:text="${courseName}"></span></legend>
        </fieldset>
        <hr class="layui-bg-cyan">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>课件上传</legend>
        </fieldset>

        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList"><i class="layui-icon layui-icon-add-circle"></i>选择文件</button>
            <div class="layui-upload-list">
                <table class="layui-table">
                    <thead>
                    <tr><th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody id="demoList"></tbody>
                </table>
            </div>
            <button type="button" class="layui-btn" id="testListAction"><i class="layui-icon layui-icon-upload-circle"></i>开始上传</button>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © My Course
    </div>
</div>

<script src="/layui/layui.js"></script>
<script src="/js.cookie.js"></script>
<script src="/my-login-master/js/jquery.min.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<script>
    layui.use('util', function(){
        var util = layui.util
        //固定块
        util.fixbar({
            bar1: '&#xe656;'
            ,bar2: '&#xe663;'
            ,css: {right: 50, bottom: 100}
            ,bgcolor: '#393D49'
            ,click: function(type){
                if(type === 'bar1'){
                    window.location.href='/homepageTC';
                } else if(type === 'bar2') {
                    window.location.href='/courseViewTC';
                }
            }
        });
    });
</script>
<script>
    var cancel=function(){
        var userName=Cookies.get('userName');

        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '/cancelST', // 需要提交的 url
            dataType: "json",
            data: {
                'userName': userName
            },
            success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                // 此处可对 data 作相关处理
                if(data.msg==="Cancel successfully!"){
                    Cookies.remove('userName');
                    window.location.href='/login';
                }
            }
        });
    };
    var logout=function () {
        Cookies.remove('userName');
        window.location.href='/login';
    }
</script>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        //多文件列表示例
        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: window.location.pathname
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1024).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.msg == 'Upload courseware successfully!'){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
    });
</script>
</body>
</html>