<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Detailed Course(TC)</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        a.layui-table-link {
            color: #0070a8;
            transition: .5s;
            cursor:pointer;
            text-decoration: none;
        }
        a.layui-table-link:visited {
            color: #CCF;
        }
        a.layui-table-link:hover {
            color: lime;
            background: #CFF;
            text-decoration: underline;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">My Course</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/cute-kitten-wallpaper-18701-wallpaperesque.jpg" class="layui-nav-img">
                    <span th:text="${userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/profileTC#profile=1">个人信息</a></dd>
                    <dd><a href="/profileTC#profile=2">统计详情</a></dd>
                    <dd><a href="/profileTC#profile=3">修改密码</a></dd>
                    <dd><a href="javascript:void(0)" onclick="cancel()">注销账号</a></dd>
                    <dd><a href="javascript:void(0)" onclick="logout()">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;">公告</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="groupMail()">群发邮件</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">课件</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="window.location.href=window.location.href.replace('forumOverview','coursewareUpload')">课件上传</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href=window.location.href.replace('forumOverview','coursewareDownload')">课件下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">作业</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="window.location.href=window.location.href.replace('forumOverview','assignmentRelease')">作业发布</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href=window.location.href.replace('forumOverview','assignmentDownload')">作业下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">成绩</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="publishScore()">发布成绩</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="window.location.reload()">论坛</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend><span th:text="${courseName}"></span></legend>
        </fieldset>
        <hr class="layui-bg-cyan">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>论坛一览</legend>
        </fieldset>
        <button class="layui-btn layui-btn-radius layui-btn-normal" onclick="newPost()">
            <i class="layui-icon">&#xe654;</i> 新建帖子
        </button>
        <div style="text-align:center;margin:0 auto;width: 906px;">
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © My Course
    </div>
</div>

<script src="/layui/layui.js"></script>
<script src="/js.cookie.js"></script>
<script src="/my-login-master/js/jquery.min.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<script>
    layui.use('util', function(){
        var util = layui.util
        //固定块
        util.fixbar({
            bar1: '&#xe656;'
            ,bar2: '&#xe663;'
            ,css: {right: 50, bottom: 100}
            ,bgcolor: '#393D49'
            ,click: function(type){
                if(type === 'bar1'){
                    window.location.href='/homepageTC';
                } else if(type === 'bar2') {
                    window.location.href='/courseViewTC';
                }
            }
        });
    });
</script>
<script>
    var cancel=function(){
        var userName=Cookies.get('userName');

        $.ajax({
            type: 'post', // 提交方式 get/post
            url: '/cancelST', // 需要提交的 url
            dataType: "json",
            data: {
                'userName': userName
            },
            success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                // 此处可对 data 作相关处理
                if(data.msg==="Cancel successfully!"){
                    Cookies.remove('userName');
                    window.location.href='/login';
                }
            }
        });
    };
    var logout=function () {
        Cookies.remove('userName');
        window.location.href='/login';
    }
</script>
<script type="text/javascript" th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        var url=window.location.href;
        table.render({
            elem: '#test'
            ,url:'/getForumTopics/'+url.substr(url.lastIndexOf('/')+1)
            ,cols: [[
                {field:'topicId', title:'ID', width:80, unresize: true, sort: true, hide:true}
                ,{field:'topic', title:'话题', width:200, unresize: true, templet: '#topicTpl'}
                ,{field:'postUser', title:'发帖用户', width:120, unresize: true, sort: true}
                ,{field:'postTime', title:'发帖时间', width:180, unresize: true, sort: true}
                ,{field:'replyNum', title:'回帖数', width:100, unresize: true, sort: true}
                ,{field:'replyUserLS', title:'最后回帖', width:120, unresize: true, sort: true}
                ,{field:'replyTimeLS', title:'回帖时间', width:180, unresize: true, sort: true}
            ]]
            ,initSort: {
                field: 'postTime' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            ,limit:8
            ,page: true
            ,limits:[8,16,24,32,40]
            ,text: {
                none: '论坛暂无帖子' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        });


    });
</script>
<script type="text/html" id="topicTpl">
    <a href="javascript:;" class="layui-table-link" onclick="viewPost(this)" id="{{d.topicId}}">{{d.topic}}</a>
</script>

<script>
    var newPost=function(){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: false,
                type: 2,
                area: ['650px', '400px'],
                fixed: false, //不固定
                maxmin: true,
                scrollbar: false,
                content: '/newPost'
            });
        });
    };
    var viewPost=function (obj) {
        Cookies.set('topicId', $(obj).attr("id"));
        var url=window.location.href;
        window.location.href=url.replace('forumOverview','postView');
    }
</script>
<script>
    var groupMail=function () {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: false,
                type: 2,
                area: ['650px', '400px'],
                fixed: false, //不固定
                maxmin: true,
                scrollbar: false,
                content: '/groupMail'
            });
        });
    };
    var publishScore=function () {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: false,
                type: 2,
                area: ['650px', '408px'],
                fixed: false, //不固定
                maxmin: true,
                scrollbar: false,
                content: '/publishScore'
            });
        });
    }
</script>
</body>
</html>