<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>My Course - Admin Dashboard</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">My Course</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/sit.jpg" class="layui-nav-img">
                    <span th:text="${userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/profileAD#profile=1">个人信息</a></dd>
                    <dd><a href="/profileAD#profile=2">修改密码</a></dd>
                    <dd><a href="javascript:void(0)" onclick="logout()">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">课程管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="window.location.href='checkCourse'">审批创建</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='checkCurriculum'">审批发布</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='manageCurriculum'">开课结课</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">统计查看</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">教师统计</a></dd>
                        <dd><a href="javascript:;">学生统计</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='curriculumStat'">课程统计</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='myCourseStat'">MyCourses使用情况</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body  layui-bg-gray">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>审批 - 发布课程</legend>
            </fieldset>
            <ul class="flow-default" id="demo"></ul>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © My Course
    </div>
</div>
<script src="/layui/layui.js"></script>
<script src="/js.cookie.js"></script>
<script src="/my-login-master/js/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    var logout=function () {
        Cookies.remove('userName');
        window.location.href='login';
    }
</script>
<script>
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        flow.load({
            elem: '#demo' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get('/getCurriculumUnchecked?page='+page, function(res){
                    //假设你的列表返回在data集合中
                    layui.each(res.data, function(index, item){
                        lis.push(
                            '<div class="layui-card">\n' +
                            '  <div class="layui-card-header">'+'<strong>发布编号：</strong>'+item.curriculumId+'</div>\n' +
                            '  <div class="layui-card-body" id="'+item.curriculumId+'">\n' +
                            '    <hr class="layui-bg-blue">'+
                            '    <strong>课程名称：</strong>'+item.courseName+'<br>' +
                            '    <strong>教师名称：</strong>'+item.teacherName+'<br>' +
                            '    <strong>发布学期：</strong>'+item.semesterYear+item.semesterSeason+'<br>' +
                            '    <strong>发布班次：</strong><br>'+item.schedule+'<br>' +
                            '    <strong>限选人数：</strong>'+item.restriction+'<br>' +
                            '    <hr class="layui-bg-blue">'+
                            '<button class="layui-btn layui-btn-primary layui-bg-blue layui-col-md-offset11" onclick="checkCurriculumConfirm(this)">\n' +
                            '  <i class="layui-icon">&#xe642;</i>\n' +
                            '</button>'+
                            '  </div>' +
                            '</div>');
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.pages);
                });
            }
        });
    });
</script>

<script>
    var checkCurriculumConfirm=function(obj){
        var curriculumId=$(obj).parent().attr('id');
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: false
                ,content: '该课程发布的审批结果？'
                ,btn: ['通过', '否决']
                ,yes: function(index, layero){
                    $.ajax({
                        type: 'post', // 提交方式 get/post
                        url: '/checkCurriculum', // 需要提交的 url
                        dataType: "json",
                        data: {
                            'curriculumId': curriculumId,
                            'result': 'Pass'
                        },
                        success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                            // 此处可对 data 作相关处理
                            if(data.msg==="Result of checkCurriculum has been recorded!"){
                                layer.msg("审批结果已保存！（通过）", {
                                    icon: 6,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    layer.close(index);
                                    window.location.reload();
                                });
                            }
                            else{
                                layer.msg("未知错误，审批结果未保存...", {
                                    icon: 5,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    layer.close(index);
                                });
                            }
                        }
                    });
                }
                ,btn2: function(index, layero){
                    $.ajax({
                        type: 'post', // 提交方式 get/post
                        url: '/checkCurriculum', // 需要提交的 url
                        dataType: "json",
                        data: {
                            'curriculumId': curriculumId,
                            'result': 'Reject'
                        },
                        success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
                            // 此处可对 data 作相关处理
                            if(data.msg==="Result of checkCurriculum has been recorded!"){
                                layer.msg("审批结果已保存！（否决）", {
                                    icon: 6,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    layer.close(index);
                                    window.location.reload();
                                });
                            }
                            else{
                                layer.msg("未知错误，审批结果未保存...", {
                                    icon: 5,
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    layer.close(index);
                                });
                            }
                        }
                    });
                }
            });
        });
    }
</script>
</body>
</html>