<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>My Course - Admin Dashboard</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/tableFilter.css">
    <style>
        .link {
            font: 20px/1.5 arial, helvetica, sans-serif;
            color: #0070a8;
            transition: .5s;
            cursor:pointer;
            text-decoration: none;
        }
        .link:visited {
            color: #CCF;
        }
        .link:hover {
            color: lime;
            background: #CFF;
            text-decoration: underline;
        }
        .link:active {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">My Course</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/sit.jpg" class="layui-nav-img">
                    <span th:text="${userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/profileAD#profile=1">个人信息</a></dd>
                    <dd><a href="/profileAD#profile=2">修改密码</a></dd>
                    <dd><a href="javascript:void(0)" onclick="logout()">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">课程管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="window.location.href='checkCourse'">审批创建</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='checkCurriculum'">审批发布</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='manageCurriculum'">开课结课</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">统计查看</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">教师统计</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='studentStat'">学生统计</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='curriculumStat'">课程统计</a></dd>
                        <dd><a href="javascript:;" onclick="window.location.href='myCourseStat'">MyCourses使用情况</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend class="link" onclick="studentModel()">学生统计</legend>
        </fieldset>
        <div class="layui-tab-item layui-show">
            <table class="layui-hide" id="studentStat" lay-filter="studentStat"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © My Course
    </div>
</div>
<script src="/layui/layui.js"></script>
<script src="/js.cookie.js"></script>
<script src="/my-login-master/js/jquery.min.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    var logout=function () {
        Cookies.remove('userName');
        window.location.href='login';
    };
    var studentModel=function(){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: false,
                type: 2,
                area: ['625px', '420px'],
                fixed: false, //不固定
                maxmin: true,
                scrollbar: false,
                content: '/studentModel'
            });
        });
    };
</script>

<script type="text/javascript" th:inline="none">
    layui.use(['table','tableFilter'], function(){
        var table = layui.table;
        var tableFilter = layui.tableFilter;
        table.render({
            elem: '#studentStat'
            ,url: '/getStudentStat' //数据接口
            ,toolbar: true
            ,width: 1208
            ,cols: [[ //表头
                {field: 'userId', title: '用户编号', width:100, fixed: 'left',sort:true}
                ,{field: 'studentName', title: '学生名称', width:120}
                ,{field: 'studentId', title: '学生学号', width:200}
                ,{field: 'studentType', title: '学生类型', width:120}
                ,{field: 'currentCourse', title: '目前课程', width:100,sort:true}
                ,{field: 'totalCourse', title: '总选课数', width:100,sort:true}
                ,{field: 'studentEmail', title: '学生邮箱', width: 350}
                ,{field: 'activation', title: '激活状态', width: 110}
            ]]
            ,done: function () {
            }
        });
        tableFilter.render({
            'elem': '#studentStat',//table的选择器
            'mode': 'local',//过滤模式
            'filters': [
                {field: 'studentName', type: 'input'},
                {field: 'studentId', type: 'input'},
                {field: 'studentType', type: 'checkbox'},
                {field: 'studentEmail', type: 'input'},
                {field: 'activation', type: 'ratio'}
            ],//过滤项配置
            'done': function (filters) {
            }
        });
    });

</script>

</body>
</html>