<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" type="text/css" href="/my-login-master/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/my-login-master/css/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/my-login-master/img/logo.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="" onsubmit="return false">
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="#" onclick="window.location.href='forgot'" class="float-right">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remeber Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block" onclick="login()">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="#" onclick="window.location.href='register'">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2019 &mdash; My Courses
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/my-login-master/js/jquery.min.js"></script>
	<script src="/my-login-master/bootstrap/js/bootstrap.min.js"></script>
	<script src="/my-login-master/js/my-login.js"></script>
	<script src="/my-login-master/layer/layer.js"></script>

<script>
	var prompt=function(data) {
		layer.msg(data, {
			icon: 5,
			time: 2000 //2秒关闭（如果不配置，默认是3秒）
		}, function () {
			window.location.href='login';
		});
	}
	var login=function() {
			var email = $('input[name=email]').val(),
					password = $('input[name=password]').val();
			$.ajax({
			type: 'post', // 提交方式 get/post
			url: '/login', // 需要提交的 url
			dataType: "json",
			data: {
				'email': email,
				'password': password
			},
			success: function (data) { // data 保存提交后返回的数据，一般为 json 数据
				// 此处可对 data 作相关处理
				if(data.msg==="Check passed!")
					window.location.href='homepageST';
				else
					prompt(data.msg);
			}
		});
	}
</script>
</body>
</html>
