<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>User Model</title>
</head>
<body class="layui-layout-body">
<div id="curriculumModel" style="width: 600px;height:400px;"></div>
<script src="/my-login-master/js/jquery.min.js"></script>
<!-- 引入 echarts.js -->
<script type="text/javascript" src="/echarts.min.js"></script>

<script type="text/javascript">
    $.ajax({
        type : "post",
        async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "/curriculumModel",    //请求发送到TestServlet处
        data : {},
        dataType : "json",        //返回数据形式为json
        success : function(result) {
            var dom = document.getElementById("curriculumModel");
            var myChart = echarts.init(dom);
            option = {
                title : {
                    text: '开设课程统计',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['已否决','待审批','已通过','已结课','已开课']
                },
                series : [
                    {
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:result,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option);
            }
        },
        error : function() {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
        }
    });
</script>
</body>
</html>